@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans Pro";
  src: url(/public/fonts/SourceSans3-Regular.ttf);
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/public/fonts/SourceSans3-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/public/fonts/SourceSans3-Italic.ttf);
  font-style: italic;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
